* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f5f5f5;
  margin: 0;
}

/* Header */
.header {
  position: relative; /* Co dinh vi tri cua phan tu khi cuon trang */
  top: 0;
  left: 0;
  right: 0;
  background-color: #f63;
  height: 120px;
  z-index: 100; /* z index lớn hơn sẽ đè lên cái bé hơn */
}
.header-top {
  height: 20%;
  background-color: transparent; /* Mau nen trong suot*/
  position: relative; /*Dinh vi vi tri tuong doi cua phan tu*/
  color: white;
}
.navbar-link {
  margin: 2px;
  display: flex; /*Chia thanh nhieu khoi (nhu 1 hang execl)*/
  float: right;
}
.navbar-link a {
  margin-right: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #f2f2f2;
}
.dropbtn {
  background-color: #f63;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: gray;
}

.dropdown {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 3px;
  float: right;
  text-align: center;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.header-content {
  height: 80%;
  background: transparent;
  display: flex;
  justify-content: space-between; /* chia đều các ô trên 1 dòng flex, đầu sát đầu dòng, cuối sát cuối dòng */
  align-items: center;
}
.logo {
  margin-right: 100px;
  text-align: center;
  margin-left: 20px;
}

/* end Header */

/* Noi dung ở giữa trang web */
.content {
  margin-top: 20px; /* đủ để cách header */
  overflow: auto; /* tạo thanh cuộn khi nội dung tràn -> tránh Margin Collapse*/
}

/* Cac kieu phan trang o phan noi dung */
.container-flex {
  display: flex;
  margin: 20px 4px;
}

/* trang home */
.catagories {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  flex: 0 0 12rem;
  margin: 0 1.5rem 1.5rem 0;
}

.catagories-header {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 4px;
}
.catagories-list {
  padding: 40px 0 40px 0;
  list-style: none; /* chỉ đinh thuộc tính cho các phẩn tử trong list */
  color: rgba(0, 0, 0, 0.8);
}
.catagories-list li a {
  padding-left: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-overflow: ellipsis; /* text tràn thì hiển thị ... */
  padding: 0.5rem 0.625rem 0.5rem 0.75rem;
  position: relative;
  line-height: 2rem; /* chiều cao dòng của phần tử */
}
.catagories-list li a:hover {
  background-color: rgb(62, 62, 77);
  color: #f2f2f2;
}

.config {
  flex: 1;
  /* chiếm hết màn hình còn lại trên dòng flex */
  width: 0;
  min-width: 0;
}

.config button {
  margin: 5px;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.config button:hover,
.config button:focus {
  background-color: #52b5ee;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  color: black;
}

table,
th,
tr,
td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
th {
  font-size: 20px;
}
.config tr img {
  display: block;
  max-width: 200px;
  max-height: 400px;
  width: auto;
  height: auto;
}
.config label {
  margin-top: 10px;
}

input[type="text"],
select {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 20%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* end Home page */

/* kẻ chia cẳt */
.line {
  width: 2px;
  height: 60px;
  margin: 0 30px 0 40px;
  background-color: white;
}

/* Các phần form */
.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.signup {
  padding: 60px 20px;
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
}
.signup-heading {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 35px;
}
.signup-label {
  font-size: 14px;
  color: #1c1d1f;
  font-weight: 500; /* độ đậm  của phông chữ */
  margin-bottom: 10px;
  display: inline-block; /* khác với inline là cho phép đặt cao/rộng */
  cursor: pointer;
}
.signup-input {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: #f2f3f5;
  outline: none; /* tắt viền */
  border: 0;
  font-size: 16px;
  margin-bottom: 30px;
}
.signup-submit {
  padding: 25px;
  color: white;
  font-size: 18px;
  text-align: center;
  border: 0;
  outline: none;
  width: 100%;
  border-radius: 8px;
  background-color: #ee4d2d;
  cursor: pointer;
  font-weight: 600;
  display: inline-block; /* thêm để tránh Margin Collapse */
  margin-top: 25px;
  margin-bottom: 25px;
}
.signup-already {
  text-align: center;
  font-size: 16px;
  color: #999;
}
.signup-login-link {
  color: #2979ff;
  text-decoration: none;
}
.select-info {
  display: block;
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  background-color: #f2f3f5;
  font-size: 16px;
  margin-bottom: 40px;
}

/*cảnh báo lỗi*/
form .dangerous-text {
  font-size: 16px;
  color: red;
  font-weight: 600;
  margin: 10px 0;
  display: inline-block;
}

/* Footer */

.footer {
  background-color: rgba(117, 111, 115, 0.2);
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 40px 0 20px 0;
}

.footer-content {
  flex: auto;
  margin: 0;
  padding: 0 160px;
}

.footer-content-header {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 8px;
}

.footer-content ul li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  padding: 2px 0px 2px 0;
}

.footer-content ul li a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-content ul li a:hover {
  color: #fb5533;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.copyright p {
  padding: 26px 0;
  font-size: 1.115rem;
  text-align: center;
}

/* end Footer */
